.hidden {
	display: none;
}

#sznuk {
	display: inline-flex;
}

#others {
	display: inline-flex;
}

div {
margin: 12px;
padding: 3px;
border:  1px solid black}

form {
margin: 12px;
}
/*
#media-bar {
	text-align: center;
	position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}*/